.header{
    width:100%;
    height:100vh;
    // padding: 0 5vw;
    background: var(--main-bg) url(../images/Subtract.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 87% 100%;
    display: flex;
    flex-direction: column;
   .header-top{
    width:100%;
    padding:10px 0;
    // background:var(--main-bg);
    // border:1px solid rgb(226, 18, 18);
    position:sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type:inline-size;
    .logo{
       margin-left: clamp(10px, 3cqi, 79px);
      
      
       img{
         width:18cqw;
       }
    }
     ul{
       margin-right: 15%;
       li{
         display: inline-block;
       font-family: 'Gadugi', sans-serif;
font-style: normal;
font-weight: 700;
font-size:clamp(10px, 1cqw, 20px);
line-height: 160%;
/* identical to box height, or 26px */
letter-spacing: 0.03em;
color: #FFFFFF;
        padding-left: clamp(10px, 3cqw, 75px);
        cursor: pointer;
       }
    }
    .container{
    position:absolute;
   /* margin:50px auto;*/
    width:100%;
    background:transparent;
    color:white;
    text-align:center;
    height:40px;
    #check-menu{
    display:none;
   
}
label{
display:block;
position:absolute;
top:0;
right:clamp(20px, 2cqw, 70px);
width:clamp(60px, 3cqw, 90px);
height:100%;
cursor:pointer;
line-height:40px;
// border:solid red 2px;
z-index:100;
}
.burger-line{
    position:absolute;
    top:8px;
    right: clamp(35px, 3cqw, 71px);
    width: clamp(35px, 3cqw, 42px);
    height:clamp(1px, 0.5cqw, 4px);
    border-radius: 7px;
    background-color:var(--orange);
    transition:0.3s all;
    cursor: pointer;
}
.burger-line:nth-of-type(2),
.burger-line:nth-of-type(3){
    top:18px;
}
.burger-line:nth-of-type(4){
    top:28px;
}
.main-menu{
    display:block;
    position:absolute;
    width:100%;
   
    bottom:0;
    left:0;
    max-height:0;
    font-size:0;
    overflow:hidden;
    transform:translateY(108%);    
    transition:0.3s all;
    
     a{
    display:block;
    width:100%;
    padding:10px;
    color:#fff;
    text-shadow: 0px 0px 1px #000,
                 1px 0px 1px #000;
    background: rgba(41, 52, 62, 0.7);
    text-decoration:none;
    
}
 a:not(:first-child){
border-top:solid gray 1px;
}
 a:hover{
    background-color:orange;
}
    
}
#check-menu:checked ~ .main-menu{
    max-height:500px;
    font-size:16px;
}
#check-menu:checked ~ .burger-line:nth-last-of-type(1),
#check-menu:checked ~ .burger-line:nth-last-of-type(4){
display:none;
    
}
#check-menu:checked ~ .burger-line:nth-last-of-type(2){
    transform:rotate(45deg);
}
#check-menu:checked ~ .burger-line:nth-last-of-type(3){
    transform:rotate(-45deg);
}
}
}
   .header-bottom{
    display:flex;
    width: 100%;
    height: 100vh;
     .header-left{
width: 15%;
    // border:1px solid rgb(226, 18, 174);
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 .block-bar{
    display:flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
// border: 1px solid #F9F9F9;
height: 300px;
    .top-bar{
    width: 0px;
height: 98px;
border: 1px solid #F9F9F9;
// transform: rotate(90deg);
 }
 a{
    text-decoration: none;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: clamp(12px, 1cqi, 16px);
line-height: 180%;
/* identical to box height, or 29px */

text-decoration-line: underline;

/* bg */

color: #F9F9F9;
 }
 .bottom-bar{
     width: 0px;
height: 98px;
border: 1px solid #F9F9F9;
// transform: rotate(90deg);
 }
 }
    }
   .header-right{
    display:flex;
     flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
   
    // border:solid rgb(252, 215, 6) 4px;

 width: 100%;
    height: 100%;
    .header-right-top{
    // border:solid rgb(6, 252, 27) 4px;
    display:flex;
    justify-content:flex-start;
    align-items: center;
width: 13%;
height:32%;
        .date-group{
            span{
                font-family: 'Fira Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 6.5cqi;
// line-height: 120%;
/* or 134px */

letter-spacing: 0.015em;
text-transform: uppercase;

/* желтый */

color: var(--orange);
               
            }
             span:after{
                    content:attr(data-content);
                    position: absolute;
                    font-family: 'Fira Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 2.5cqi;
line-height: 180%;
/* identical to box height, or 42px */

letter-spacing: 0.015em;
text-transform: uppercase;
margin-bottom: 50px;

color: #646464;
                }
        }
    }
    .btn-slider{
        // border:solid rgb(252, 215, 6) 4px;
        width: clamp(155px, 18cqw, 500px);
        display:flex;
         justify-content: space-between;
         gap:10px;
        button{
            display:flex;
            justify-content: center;
            align-items: center;
            background:transparent;
            border:none;
            font-family: 'Fira Sans';
font-style: normal;
font-weight: 400;
font-size: clamp(14px, 3cqi, 36px);
line-height: 100%;
/* identical to box height, or 36px */
cursor: pointer;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
span{
    color:var(--orange);
    font-size: 33px;
}
        }
    }
.header-right-bottom{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.78) 100%);
    // border:solid rgb(19, 0, 128) 4px;
    width: 100%;
   

    display: flex;
   
    
    justify-content:end;
        padding-right: 20px;

    .text-block{
        max-width:947px;
        // border:solid green 4px;
        margin-bottom: 10vh;
        width: 100%;
        // margin-right: 15vw;
        justify-self: flex-end;
        h3{
            font-family: 'Gadugi', sans-serif;
font-style: normal;
font-weight: 400;
font-size: clamp(14px, 3cqw,48px);
line-height: 100%;
/* or 48px */
        max-width:735px;
text-align: right;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
        }
        h1{
            font-family: 'Gadugi', sans-serif;
font-style: normal;
font-weight: 500;
font-size: clamp(16px, 4cqw,88px);
line-height: 100%;
/* or 48px */
        max-width:735px;

text-align: right;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
        }
        p{
            font-family: 'Gadugi', sans-serif;
font-style: normal;
font-weight: 400;
font-size: clamp(12px, 1cqw,16px);
line-height: 160%;
/* or 26px */
        max-width:735px;

text-align: right;
letter-spacing: -0.02em;

color: #7E7E7E;
        }
        button{
            font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: clamp(12px, 1cqi, 16px);
line-height: 160%;
/* identical to box height, or 26px */
padding:clamp(5px, 1cqw, 12px) clamp(10px, 4cqw, 51px);
letter-spacing: -0.02em;
text-transform: uppercase;
background:var(--orange);
border: solid black 0.5px;
color: #000000;
float: right;
margin-top: 20px;
margin-right: clamp(50px, 10cqw, 208px);
cursor:pointer;
        }
    }
}
   }
   }
}

@media (max-width:755px){
.header-top{
   .logo{
       
      
      
       img{
         width:150px;
       }
    }
     ul{
       display: none;
       
    }
    }
    button{
        padding: 5px 10px;
    }
}